@font-face {
  font-family: "Oswald-Regular";
  src: url("../font/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../font/Oswald-Light.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
  background-color: rgb(50, 50, 52);
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding: 0 20px;
  gap: 15px;
}

.header .header-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .header-icon-container .header-icon {
  height: 50%;
}

.header .get-code-btn {
  width: 100%;
  text-align: right;
  min-width: 112px;
}

.header .get-code-btn a {
  text-align: right;
  color: #ffffff;
  font-family: Oswald-Regular;
  text-decoration: none;
}
.header .get-code-btn .download-icon {
  margin-left: 5px;
}

.homepage {
  background-color: rgb(50, 50, 52);
  color: white;
  font-family: OpenSans-Regular;
  padding: 3vh;
}

.homepage .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10vh;
}

.homepage .content .content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;

  color: #999;
  text-align: center;
  font-size: 12px;
  padding: 0 50px;
}

.homepage .content .content-header .dlr-logo {
  width: 255px;
  height: 32px;
}

.homepage .content .choices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.homepage .content .choices .tooltip {
  display: none;
}

.homepage .content .choices .option {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.homepage .content .choices .option:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: -8px 8px #888888;
  transform: translate(8px, -8px);
  border: 2px solid rgb(254, 142, 20);
}

.homepage .content .choices .option .label {
  font-size: 16px;
  font-family: Oswald-Regular;
}

.homepage .content .choices .option .label .tooltip {
  display: block;
  font-size: 12px;
  font-family: Opensans-Regular;
  color: #999;
}

.homepage .content .choices .icon {
  display: none;
}

.homepage .content .choices .option-row {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.homepage .content .choices .option-row .option {
  flex: 1;
}

.support-content {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  text-align: center;
  color: rgb(170, 170, 170);
  background-color: rgb(55, 55, 57);
  font-family: OpenSans-Regular;
  font-size: 12px;
  padding: 0 20px;
}

.footer .footer-content span {
  color: white;
}
.footer .footer-content a {
  color: rgb(254, 142, 20);
  text-decoration: none;
}

.footer {
  display: none;
}

@media screen and (min-width: 980px) {
  .header {
    display: none;
  }

  .homepage .content .content-header .dlr-logo {
    width: 516px;
    height: 66px;
  }

  .homepage .content .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    color: #fff;
    text-align: center;
    font-size: 16px;
  }

  .homepage .content .choices .tooltip {
    display: block;
    font-family: Oswald-Regular;
    color: #cccccc;
    text-align: left;
  }

  .homepage .content .choices .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage .content .choices .option {
    min-height: 90px;
  }

  .homepage .content .choices .option .label {
    font-size: 24px;
  }

  .homepage .content .choices .option .label .tooltip {
    font-size: 16px;
    font-family: Opensans-Regular;
    max-width: 60%;
  }

  .homepage .content .choices .option-row {
    display: flex;
    gap: 15px;
    flex-direction: row;
  }

  .support-content {
    position: absolute;
    bottom: 12%;
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 70%;
    text-align: center;
    color: rgb(170, 170, 170);
    background-color: rgb(55, 55, 57);
    font-family: OpenSans-Regular;
    font-size: 16px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 0 20px;
    gap: 15px;
  }
  .footer .footer-content {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 2vh;
  }

  .footer .footer-content .footer-icon-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: max-content;
  }

  .footer .footer-content .footer-icon-container .footer-icon {
    height: 50%;
  }

  .footer .footer-content span {
    font-family: OpenSans-Regular;
    color: white;
  }
  .footer .footer-content a {
    color: rgb(254, 142, 20);
    text-decoration: none;
  }
}
